In [35]:
import numpy as np
import pandas as pd

In [36]:
pwd

'/workspaces/agentic_ai/src'

In [43]:
datapath = '../data/raw/'
fullstory_data = datapath + 'synergy_fullstory.json'
inmoment_data = datapath + 'synergy_inmoment.json'

In [44]:
ls ../data/raw/

synergy_fullstory.json  synergy_inmoment.json

In [45]:
# Load FullStory data
fullstory_df = pd.read_json(fullstory_data)
print("FullStory Data Overview:")

FullStory Data Overview:

In [46]:
fullstory_df.head()

,session_id,device_id,customer_id,platform,app_version,region,session_start_time,session_end_time,session_url,events
0,fs_sess_1001_web_01,dev_1001_web,1001,web,3.12.4,WA-Metro,2025-08-15 09:00:00+00:00,2025-08-15 09:03:00+00:00,https://app.fullstory.com/ui/session/fs_sess_1...,"[{'event_id': 'evt_1001_01', 'event_time': '20..."
1,fs_sess_1002_web_02,dev_1002_web,1002,web,3.14.0,WA-Regional,2025-08-16 14:10:00+00:00,2025-08-16 14:35:00+00:00,https://app.fullstory.com/ui/session/fs_sess_1...,"[{'event_id': 'evt_2002_01', 'event_time': '20..."
2,fs_sess_1003_mobile_01,dev_1003_mobile,1003,mobile,4.2.0,WA-Metro,2025-08-17 10:00:00+00:00,2025-08-17 10:22:50+00:00,https://app.fullstory.com/ui/session/fs_sess_1...,"[{'event_id': 'evt_3003_01', 'event_time': '20..."

In [47]:
# load InMoment data
inmoment_df = pd.read_json(inmoment_data)
print("\nInMoment Data Overview:")

InMoment Data Overview:

In [48]:
inmoment_df.head()

,id,uuid,surveyGatewayId,surveyGatewayName,surveyGatewayAlias,surveyGatewayDnis,surveyId,surveyName,surveyDescription,externalId,...,incidents,alerts,scores,tags,url,tagsString,socialReview,contactId,contact,end_user
0,1001,550e8400-e29b-41d4-a716-446655440001,201,Synergy Gateway,synergy,1800-123-4567,301,Synergy WA Customer Survey,Monthly customer feedback,EXT-1001,...,"[{'incidentId': 2001, 'type': 'Billing', 'desc...","[{'alertId': 3001, 'type': 'Payment Reminder',...","[{'name': 'Overall Experience', 'score': 5}, {...","[{'name': 'positive'}, {'name': 'billing'}, {'...",https://survey.example.com/responses/1001,"positive, billing, web","{'rating': 5, 'comment': 'Excellent service, q...",C001,"{'name': 'John Smith', 'phone': '555-0101', 'e...",{'properties': {'customer_type': 'residential'...
1,1002,550e8400-e29b-41d4-a716-446655440002,202,Synergy Gateway,synergy2,1800-123-4568,302,Synergy WA Customer Survey,Monthly customer feedback,EXT-1002,...,"[{'incidentId': 2002, 'type': 'Outage', 'descr...","[{'alertId': 3002, 'type': 'Outage Alert', 'me...","[{'name': 'Overall Experience', 'score': 2}, {...","[{'name': 'negative'}, {'name': 'outage'}, {'n...",https://survey.example.com/responses/1002,"negative, outage, mobile","{'rating': 2, 'comment': 'Service outage cause...",C002,"{'name': 'Omar Khan', 'phone': '555-0102', 'em...","{'properties': {'customer_type': 'business', '..."
2,1003,550e8400-e29b-41d4-a716-446655440003,203,Synergy Gateway,synergy3,1800-123-4569,303,Synergy WA Customer Survey,Monthly customer feedback,EXT-1003,...,"[{'incidentId': 2003, 'type': 'App', 'descript...","[{'alertId': 3003, 'type': 'App Notification',...","[{'name': 'Overall Experience', 'score': 3}, {...","[{'name': 'neutral'}, {'name': 'app'}, {'name'...",https://survey.example.com/responses/1003,"neutral, app, mobile","{'rating': 3, 'comment': 'App performed reason...",C003,"{'name': 'Priya Kapoor', 'phone': '555-0103', ...",{'properties': {'customer_type': 'residential'...